*{
    margin: 0;
    padding: 0;
}

body{
    font: 1em "trebuchet MS" , helvetica , sans-serif ;
    background: rgb(235, 233, 233);
}

/*Formatacoes cabecalho inicio*/

#fundocabecalho{
 background: url(../imagens/fundo.png);
 height: 230px;
}

#logo{
    padding: 20px;
    padding-left: 450px;

}




#brasil{
    background: url(../imagens/detalhe-topo.png) no-repeat right;
    height: 200px;
    margin-right: 400px ;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(163, 4, 4);
    float: left;
    

}

ul li{
    float: left;
    padding: 15px 0px;
    margin: 0;
   
    
}




#menu{
    padding-left: 500px;
}


 ul a{
   padding:15px 30px ;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    background: url(../imagens/divisor.png) repeat-y LEFT;
  
    

}

a:hover{
    color:  rgba(112, 0, 0, 0.993);
}

.clear{
    clear: left;
}

ul .primeiro a{
 background: none;
}

#vermelho{
    background-color: rgb(250, 37, 37);
}












/*Formatacoes cabecalho fim*/